.connexion {
 margin-top: -67px;
}

img.bg-img {
    display: block;
    /*position: absolute;*/
    margin-left: -15px;
    height: 100%;
}

input[type="text"] {
    color: black;
    opacity: 0.49;
    font-size: 18px;
}

.selector{
      width: 100%;
    margin-left: 0px;
    height: 38px;
    color: golden;
    font-weight: bold;
      margin-bottom: 15px;
}

.register{
  width: 100%;
  padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    background-color: #1161EE;
}
