.connexion {
 margin-top: -67px;
}

img.bg-img {
    display: block;
    /*position: absolute;*/
    margin-left: -15px;
    height: 100%;
}


.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}

input[type="text"],  input[type="password"]{
    color: black;
    opacity: 0.49;
    font-size: 20px;
}

.selector{
      width: 100%;
    margin-left: 0px;
    height: 38px;
    color: golden;
    font-weight: bold;
      margin-bottom: 15px;
}

.register{
  width: 100%;
  padding: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    background-color: #1161EE;
}

.container[_ngcontent-rhs-c12] {
    display: block;
    position: relative;
    width: 530px;
    height: 87%;
    margin: auto;
    margin-top: 180px;
    box-shadow: 1px 5px 10px 1px #333;
    overflow: hidden;
}
