<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../../assets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<link rel="stylesheet" type="text/css" href="../../assets/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
<!--===============================================================================================-->
</head>
<!--<body>-->

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../../assets/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" [formGroup]="authForm" (ngSubmit)="loginForm()">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

					<a href="#" class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
            <!--<fa name="fa-facebook-official"></fa>-->

						Facebook
					</a>

					<a href="#" class="btn-google m-b-20">
						<img src="../../assets/images/icons/icon-google.png" alt="GOOGLE">
						Google
					</a>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" formControlName="username" >
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

						<a href="#" class="txt2 bo1 m-l-5">
							Forgot?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" formControlName="password" >
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Sign In
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

						<a href="#" class="txt2 bo1">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!--===============================================================================================-->
	<script src="../../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../assets/js/login/main.js"></script>




<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->

<!--<div class="container">-->
  <!--<div class="frame">-->
    <!--<div class="nav">-->
      <!--<ul class="links">-->
        <!--<li class="signin-active"><a class="btn">Sign in</a></li>-->
        <!--<li class="signup-inactive"><a class="btn">Sign up </a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div ng-app ng-init="checked = false">-->
				        <!--<form class="form-signin" action="" method="post" name="form">-->
          <!--<label for="username">Username</label>-->
          <!--<input class="form-styling" type="text" name="username" placeholder=""/>-->
          <!--<label for="password">Password</label>-->
          <!--<input class="form-styling" type="text" name="password" placeholder=""/>-->
          <!--<input type="checkbox" id="checkbox"/>-->
          <!--<label for="checkbox" ><span class="ui"></span>Keep me signed in</label>-->
          <!--<div class="btn-animate">-->
            <!--<a class="btn-signin">Sign in</a>-->
          <!--</div>-->
				        <!--</form>-->

				        <!--<form class="form-signup" action="" method="post" name="form">-->
          <!--<label for="fullname">Full name</label>-->
          <!--<input class="form-styling" type="text" name="fullname" placeholder=""/>-->
          <!--<label for="email">Email</label>-->
          <!--<input class="form-styling" type="text" name="email" placeholder=""/>-->
          <!--<label for="password">Password</label>-->
          <!--<input class="form-styling" type="text" name="password" placeholder=""/>-->
          <!--<label for="confirmpassword">Confirm password</label>-->
          <!--<input class="form-styling" type="text" name="confirmpassword" placeholder=""/>-->
          <!--<a ng-click="checked = !checked" class="btn-signup">Sign Up</a>-->
				        <!--</form>-->

            <!--<div  class="success">-->
              <!--<svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
       <!--viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">-->
                 <!--<path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314-->
                  <!--c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042-->
                  <!--c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />-->
                <!--<div class="successtext">-->
                   <!--<p> Thanks for signing up! Check your email for confirmation.</p>-->
                <!--</div>-->
              <!--</svg>-->
            <!--</div>-->
      <!--</div>-->

      <!--<div class="forgot">-->
        <!--<a href="#">Forgot your password?</a>-->
      <!--</div>-->

      <!--<div>-->
        <!--<div class="cover-photo"></div>-->
        <!--<div class="profile-photo"></div>-->
        <!--<h1 class="welcome">Welcome, Chris</h1>-->
        <!--<a class="btn-goback" value="Refresh" onClick="history.go()">Go back</a>-->
      <!--</div>-->
  <!--</div>-->

  <!--<a id="refresh" value="Refresh" onClick="history.go()">-->
    <!--<svg class="refreshicon"   version="1.1" id="Capa_1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
         <!--width="25px" height="25px" viewBox="0 0 322.447 322.447" style="enable-background:new 0 0 322.447 322.447;"-->
         <!--xml:space="preserve">-->
         <!--<path  d="M321.832,230.327c-2.133-6.565-9.184-10.154-15.75-8.025l-16.254,5.281C299.785,206.991,305,184.347,305,161.224-->
                <!--c0-84.089-68.41-152.5-152.5-152.5C68.411,8.724,0,77.135,0,161.224s68.411,152.5,152.5,152.5c6.903,0,12.5-5.597,12.5-12.5-->
                <!--c0-6.902-5.597-12.5-12.5-12.5c-70.304,0-127.5-57.195-127.5-127.5c0-70.304,57.196-127.5,127.5-127.5-->
                <!--c70.305,0,127.5,57.196,127.5,127.5c0,19.372-4.371,38.337-12.723,55.568l-5.553-17.096c-2.133-6.564-9.186-10.156-15.75-8.025-->
                <!--c-6.566,2.134-10.16,9.186-8.027,15.751l14.74,45.368c1.715,5.283,6.615,8.642,11.885,8.642c1.279,0,2.582-0.198,3.865-0.614-->
                <!--l45.369-14.738C320.371,243.946,323.965,236.895,321.832,230.327z"/>-->
    <!--</svg>-->
  <!--</a>-->
<!--</div>-->

<!--<form [formGroup]="authForm" (ngSubmit)="loginForm()">-->
    <!--<label>Username</label><br>-->
    <!--<input type="text" formControlName="username"/><br>-->

    <!--<label>Password</label><br>-->
    <!--<input type="password" formControlName="password"/><br>-->

    <!--<button type="submit">-->
      <!--Login-->
       <!--&lt;!&ndash;<span *ngIf="!registerMode">Login</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<span *ngIf="registerMode">Register</span>&ndash;&gt;-->
    <!--</button>-->
  <!--</form>-->
  <!--<hr>-->

<!--<h2>Register</h2>-->
  <!--<form [formGroup]="registerForm" (ngSubmit)="registerUser()">-->
    <!--<label>Username</label><br>-->
    <!--<input type="text" formControlName="username"/><br>-->

    <!--<label>Password</label><br>-->
    <!--<input type="password" formControlName="password"/><br>-->

    <!--<label>User Type</label><br>-->
    <!--<select formControlName="userType">-->
      <!--<option *ngFor="let type of userTypes" [ngValue]="type">-->
          <!--{{ type.name }}-->
        <!--</option>-->
    <!--</select><br>-->

    <!--<button type="submit">Register</button>-->
  <!--</form>-->

