h2.title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: verdana;
    font-weight: 500;
    color: darkmagenta;
    font-size: 35px;
}


select {
    border-radius: 8px;
    padding: 7px;
    color: black;
}

label.col-md-10.col-form-label {
    color: darkmagenta;
    /*margin-left: -16px;*/
    font-size: 16px;
    /* line-height: 0.5em; */
}

textarea.form-control{
  margin: 0px;
    width: 404px;
    height: 147px;
}





